.app-footer {
  width: 100%;
  min-width: 800px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  color: #999;
  border-top: 2px solid #2962ff;
  background-color: #fff;
}