.cancel-success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cancel-success-modal-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #4A90E2;
  width: 700px;
  height: 380px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-success-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #999;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-success-close-button:hover {
  color: #333;
}

.cancel-success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 130px;
}

.cancel-success-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.cancel-success-icon {
  width: 40px;
  height: 40px;
  filter: invert(48%) sepia(50%) saturate(2000%) hue-rotate(190deg) brightness(90%) contrast(95%);
}

.cancel-success-title {
  font-size: 35px;
  font-weight: bold;
  color: #333;
}

.cancel-success-message {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
  text-align: center;
}

.cancel-success-close-modal-button {
  width: 90%;
  padding: 18px;
  background-color: #4f9cf4;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 40px;
}

.cancel-success-close-modal-button:hover {
  background-color: #357ABD;
}

.cancel-success-close-modal-button:focus {
  outline: none;
}
